<%- include('base_header', { title: 'All Books' }) -%>
<div class="container-fluid">
  <div class="section">
    <!-- Display the books -->
    <% books.forEach(book => { %>
    <div class="card mx-3 my-3">
      <div class="row">
        <div class="col-md-5 px-5 py-2">
          <img src="<%= book.image.split("public")[1] %>" class="card-img-top"
          alt="<%= book.title %>"/>
        </div>
        <div class="col-md-7 px-2 py-2">
          <div class="card-body">
            <h5>Title: <%= book.title %></h5>
            <h5>Author: <%= book.author %></h5>
            <p>
              Book Owner:
              <a href="/user/<%= book.owner.username %>"
                ><%= book.owner.name %></a
              >
            </p>
            <p>Year of Publication: <%= book.yop.getFullYear() %></p>
            <p>
              Genres: <% for (let i = 0; i < book.genre.length; i++) { %> <%=
              book.genre[i] %>
            </p>
            <% } %>
            <p>
              Return Date: <%= book.returnDate.getFullYear() %>/<%=
              book.returnDate.getMonth() + 1 %>/<%= book.returnDate.getDate() %>
            </p>
            <!-- <a href="#!" class="btn btn-primary">Initiate swap</a> -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#myModal"
              data-bs-id="<%= book.id %>"
            >
              Initiate swap
            </button>
          </div>
        </div>
      </div>
    </div>
    <% }); %>

    <!-- Pagination links -->
    <div class="pagination">
      <% if (page > 1) { %>
      <a href="?page=<%= page - 1 %>">Previous</a>
      <% } %> <% if (books.length === perPage) { %>
      <a href="?page=<%= page + 1 %>">Next</a>
      <% } %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select a Book</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" id="swapForm">
          <div class="mb-3">
            <label for="bookSelect" class="form-label">Select a Book:</label>
            <select class="form-select" id="bookSelect" name="book2">
              <% user.ownedBooks.forEach(book => { %>
              <option value="<%= book.id %>"><%= book.title %></option>
              <% }); %>
            </select>
            <input type="hidden" name="book1" id="book1" value="" />
          </div>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            id="closeModalBtn"
          >
            Close
          </button>
          <button type="submit" id="createSwap" class="btn btn-primary">
            Submit
          </button>
        </form>
      </div>
      <div class="modal-footer">Footer</div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var myModal = new bootstrap.Modal(document.getElementById("myModal"));

    // Listen for the modal's show.bs.modal event
    myModal._element.addEventListener("show.bs.modal", function (event) {
      // Retrieve the data-bs-id attribute from the button
      var button = event.relatedTarget;
      var idValue = button.getAttribute("data-bs-id");

      // Update the content of the modal with the ID value
      document.getElementById("book1").value = idValue;
    });
  });
</script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function () {
    $("#swapForm").submit(function (event) {
      event.preventDefault();
      $.ajax({
        type: "POST",
        url: "/books",
        contentType: "application/x-www-form-urlencoded; charset=UTF-8", // Set the content type
        data: $(this).serialize(),
        success: function (data) {
          $("#closeModalBtn").click();
          // $("#myModal").hide();
          alert(data.message);
        },
        error: function (jqXHR, textStatus, errorThrown) {
          // Display the error message as an alert
          alert("Error: " + errorThrown);
        },
      });
    });
  });
</script>

<%- include('base_footer') -%>
