<%- include('base_header', { title: 'All Books' }) -%>
<div class="container-fluid">
  <div class="section">
    <!-- Display the books -->
    <% books.forEach(book => { %>
    <div class="card mx-3 my-3">
      <div class="row">
        <div class="col-md-5 px-5 py-2">
          <img src="<%= book.image.split("public")[1] %>" class="card-img-top"
          alt="<%= book.title %>"/>
        </div>
        <div class="col-md-7 px-2 py-2">
          <div class="card-body">
            <h5>Title: <%= book.title %></h5>
            <h5>Author: <%= book.author %></h5>
            <p>
              Book Owner:
              <a href="/user/<%= book.owner.username %>"
                ><%= book.owner.name %></a
              >
            </p>
            <p>Year of Publication: <%= book.yop.getFullYear() %></p>
            <p>
              Genres: <% for (let i = 0; i < book.genre.length; i++) { %> <%=
              book.genre[i] %>
            </p>
            <% } %>
            <p>
              Return Date: <%= book.returnDate.getFullYear() %>/<%=
              book.returnDate.getMonth() + 1 %>/<%= book.returnDate.getDate() %>
            </p>
            <a href="#!" class="btn btn-primary">Initiate swap</a>
          </div>
        </div>
      </div>
    </div>
    <% }); %>

    <!-- Pagination links -->
    <div class="pagination">
      <% if (page > 1) { %>
      <a href="?page=<%= page - 1 %>">Previous</a>
      <% } %> <% if (books.length === perPage) { %>
      <a href="?page=<%= page + 1 %>">Next</a>
      <% } %>
    </div>
  </div>
</div>

<%- include('base_footer') -%>
