<%- include('base_header', { title: 'My profile' }) -%>
<div class="container emp-profile">
  <form method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="<%= user.image.split("public")[1]%>" alt=""/>
          <div class="file btn btn-lg btn-primary">
            Change Photo
            <input type="file" name="file" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5><%= user.name %></h5>
          <p class="proile-rating">
            Total books : <span><%=user.ownedBooks.length%></span>
          </p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-bs-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-bs-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >My Books</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <input
          type="submit"
          class="profile-edit-btn"
          name="btnAddMore"
          value="Edit Profile"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work"></div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
              </div>
              <div class="col-md-6">
                <p><%= user.name %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p><%= user.email %></p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label>Phone</label>
              </div>
              <div class="col-md-6">
                <p><%= user.phone %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Reviews I have made</label>
              </div>
              <div class="col-md-6">
                <p><%= user.reviewsMade.length %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Reviews About me</label>
              </div>
              <div class="col-md-6">
                <p><%= user.reviewsAbout.length %></p>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <div class="row">
              <% for (let i = 0; i < user.ownedBooks.length; i++) { %>

              <div class="card mx-3 my-3">
                <div class="row">
                  <div class="col-md-5 px-5 py-2">
                    <img src="<%= user.ownedBooks[i].image.split("public")[1]
                    %>" class="card-img-top" alt="<%= user.ownedBooks[i].title
                    %>"/>
                  </div>
                  <div class="col-md-7 px-2 py-2">
                    <div class="card-body">
                      <button
                        id="setEditable"
                        class="btn btn-primary btn-outline-secondary"
                      >
                        Edit
                      </button>
                      <h5>Title: <%= user.ownedBooks[i].title %></h5>
                      <h5>Author: <%= user.ownedBooks[i].author %></h5>
                      <p>
                        Year of Publication: <%=
                        user.ownedBooks[i].yop.getFullYear() %>
                      </p>
                      <p>
                        Genres: <% for (let j = 0; j <
                        user.ownedBooks[i].genre.length; j++) { %> <%=
                        user.ownedBooks[i].genre[j] %>
                      </p>
                      <% } %>
                      <p>
                        Return Date: <%=
                        user.ownedBooks[i].returnDate.getFullYear() %>/<%=
                        user.ownedBooks[i].returnDate.getMonth() + 1 %>/<%=
                        user.ownedBooks[i].returnDate.getDate() %>
                      </p>
                      <button
                        id="saveToDb"
                        class="btn btn-primary btn-outline-success btn-sm"
                        disabled
                      >
                        Save
                      </button>
                      <button
                        id="close"
                        class="btn btn-warning btn-outline-warning btn-sm"
                        disabled
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <% }; %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<%- include('base_footer') -%>
